*.xcuserstate
*.xcuserdatad/
build/
DerivedData/
*.moved-aside
.idea/
*.swp
Pods/
Podfile.lock
Carthage/
.swiftpm/
.xcscmblueprint
*.xcarchive
*.log
.DS_Store
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

